.main-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  padding-top: 1rem;
  flex-wrap: nowrap;
}

.global-header {
  position: sticky;
  top: 0; /* Sticks to the top of the viewport */
  z-index: 10; /* Ensure it stays above other content */
  background-color: white; /* Add a background color to prevent content from showing through */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}
.bookings-section{
  display: flex;
  flex-direction: row;
  /* Takes up half of the height of parent container */
  height: 50%;
}

.calendar-section {
  min-width: 600px; /* Ensure it has a minimum width */
  flex-grow: 1;
  overflow: auto; /* Allow scrolling if content overflows */
  width: 70%;
}

section.new-booking{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  width: 30%;
  min-width: 400px;
}

.your-bookings {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 30%;
  overflow: auto; /* Allow scrolling if content overflows */
}

.input-lable {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  background-color: #f0f0f0;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
}

.button {
  background-color: #9ad3a4;
  color: #346c3e;
  border-radius: 5px;
  border: none;
  height: 36px;
  margin-top: 16px;
  font-size: 1.1rem;
  float: right;
  font-weight: bold;
}

@media (max-width: 768px) {
  .main-container {
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
  }
  section.new-booking,
  section.your-bookings {
    flex: 0 0 100%; /* Full width on smaller screens */
  }
}
