.admin-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  overflow-x: auto;
}

.admin-heading {
  color: #525a8a;
}

.users-admin-panel,
.bookings {
  margin: 0 10px;
  background-color: white;
  padding: 32px;
  border-radius: 10px;
  overflow-x: auto;
}

.admin-user-table,
.admin-booking-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1rem;
  text-align: left;
}

.admin-user-table th,
.admin-user-table td,
.admin-booking-table th,
.admin-booking-table td {
  border: 1px solid #eaf3ff;
  padding: 8px;
}

.admin-user-table th,
.admin-booking-table th {
  background-color: #eaf3ff;
  color: black;
}

.delete-button {
  background-color: #ea9c8f;
  color: #b01c03;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  float: right;
  display: block;
  padding: 8px;
  marign: 0;
}

.button-container{
  display: flex;
  justify-content: center;
}
