.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

p {
    font-size: medium;
    color: black;
    margin-top: 24px;
    margin-bottom: 8px;
}

.users, .bookings {
    margin: 0 10px;
}

.user-table, .booking-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1rem;
    text-align: left;
}

.user-table th, .user-table td, .booking-table th, .booking-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.user-table th, .booking-table th {
    background-color: #f2f2f2;
    color: black;
}