.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 50px;
}

.profile-input-label {
    font-size: medium;
    font-weight: bold;
    color: black;
    margin-top: 16px;
    margin-bottom: 8px;
}

section.bookings,
section.user {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

section.user {
    flex: 0 0 50%;
}

section.bookings {
    flex: 0 0 50%;
}

.inputcolumn {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px; /* Ensure a minimum width */
}

.inputcolumn:last-child {
    align-items: flex-end;
}

.button {
    background-color: #9AD3A4;
    color: #346C3E;
    border-radius: 5px;
    border: none;
    height: 36px;
    margin-top: 16px;
    font-size: 1.1rem;
    float: right;
    font-weight: bold;
}

input {
    background-color: #f0f0f0;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }
    section.bookings,
    section.user {
        flex: 0 0 100%;
    }
    form {
        flex-direction: column; /* Stack columns vertically */
    }
    .inputcolumn {
        align-items: flex-start; /* Align items to the start */
    }
}