.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 50px;
}

p {
    font-size: medium;
    color: black;
    margin-top: 24px;
    margin-bottom: 8px;
}

section.bookings,
section.user {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

section.user {
    flex: 0 0 70%;
}

section.bookings {
    flex: 0 0 30%;
}

form {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap; /* Allow wrapping */
}

.inputcolumn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    min-width: 200px; /* Ensure a minimum width */
}

.inputcolumn:last-child {
    align-items: flex-end;
}

.button {
    margin-top: auto;
    background-color: #FDBB3D;
    border-radius: 5px;
    border: none;
    height: 30px;
}

input {
    background-color: #f0f0f0;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
}

@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }
    section.bookings,
    section.user {
        flex: 0 0 100%;
    }
    form {
        flex-direction: column; /* Stack columns vertically */
    }
    .inputcolumn {
        align-items: flex-start; /* Align items to the start */
    }
}